## Comparison Operators

In [1]:
## <, >, <=, >=, !=, ==, and, or   -- Examples followed below showing conditions True or False

In [2]:
1 < 2

True

In [3]:
2 < 3

True

In [4]:
2 > 5

False

In [6]:
1 == 1  ## comparision for equality

True

In [8]:
1 = 1  ## this will give error <cannot assign to literal here. Maybe you meant '==' instead of '='?>as it assumes you are trying to assign the value

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2922329306.py, line 1)

In [10]:
'Hi' == 'hi'   ## can also be done on strings

False

In [11]:
1 < 2 and 2 < 3

True

In [12]:
1 < 2 and 2 > 5  ## as not both the conditions are true ; 2 is not greater than 5

False

In [13]:
(1 < 2) and (2 > 5) ## this is a better way to write, putting them in brackets

False

In [14]:
(1 < 2) or (2 > 5) ## this will return true as one of the condition is true

True

In [15]:
## if Else statement

In [16]:
if 1 < 2:
    print('All good!!')

All good!!

In [21]:
## we can check for condition true and false with else statement

In [22]:
if 6 < 5:
    print('All good!!')
else:
    print('not so good!')

not so good!

In [23]:
## we can have multiple conditions with elif

In [27]:
if 6 < 5:
    print('All good!!')
elif 8 == 8:
    print('seems like 8')
else:
    print('not so good!')  ## change 8 == 8 to 8 == 9 and run again and check the result

seems like 8

## For loop

In [32]:
place_list = ['Delhi','Jaipur','Hyderabad','Vizag']  ## iterate through the name of cities from given list

In [31]:
for city in place_list:    ## city is a variable which will hold which element is in that index
    print(city)

Delhi
Jaipur
Hyderabad
Vizag

## While loop -- run the loop till the condition gets true

In [35]:
i = 0
while i < 4:
    print('The city name is {}'.format(place_list[i]))
    i = i+1   ## the loop iterates through the city name from list till i doesn't equals 4. Our list has only 4 elements 0,1,2,3.

The city name is Delhi
The city name is Jaipur
The city name is Hyderabad
The city name is Vizag

## range Function ## when we have to create a long list of elements with start and end

In [36]:
range(0,5)

range(0, 5)

In [38]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [43]:
list(range(0,10))   ## we can use range function to create a list of elements also.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## List comprehension

In [47]:
x = [1,2,3,4]
out = []

In [49]:
for num in x:
    out.append(num**2)

In [51]:
print(out) ## as you can see that now all numbers are square of x list

[1, 4, 9, 16]

In [52]:
## now instead of writing thig big, we could use list comprehension as shown below

In [60]:
[num**2 for num in x]    ### what you want to append comes first followed by the condition. You can read it like: 
                        ####what to append for the given condition.

[1, 4, 9, 16]

In [56]:
out = [num**2 for num in x]
print(out)

[1, 4, 9, 16]

## Functions --  reuse a piece of code instead of writing it again and again

In [61]:
##functions are defined using def

In [62]:
def first_func(name):      ## we provide parameter to the function, in this case name.
    print('The name entered is '+ name)

In [68]:
first_func('Thanos')  ### calling the function and providing a value to the parameter

The name entered is Thanos

In [65]:
def second_func(name='Avengers'):      ## we provide parameter to the function, in this case name.
    print('The name entered is '+ name)

In [67]:
second_func()  ## since we didn't provide any value, it used the default value defined with the function <Avengers>.

The name entered is Avengers

In [70]:
second_func  ## without brackets python tells us what kind of object it is.

In [71]:
## we can use return function to save the output to some variable so that we can use it later.

In [84]:
def mult_by_eight(num):
    return num*8

In [86]:
outt = mult_by_eight(9)

In [87]:
outt

72

In [92]:
## Provide documentation string to a function. It is useful when you want to see more info about the function.

In [93]:
## type the function and at the end press Shift + tab, it will show the information.

In [88]:
def mult_by_eight(num):
    """
    THIS FUNCTION RETURNS THE INPUT MULTIPLIED BY 8
    ANYTHING IT RETURNS YOU CAN SAVE IT TO A VARIABLE
    THIS IS DOCUMENTATION STRING 
    """
    return num*8

In [89]:
out1 = mult_by_eight(12)

In [90]:
out1

96

In [95]:
mult_by_eight   ## press shift+tab when the cursor is at the end of function, i.e. at letter t of eight

## MAP  FUNCTION

In [1]:
my_seq = [1,2,3,4,5]

In [2]:
def mult_five(num):
    return num*5

In [3]:
mult_five(10)

50

In [4]:
## now what we want to iterate the function mult_five with all elements on my_seq

In [30]:
## You might have to go and write a for loop OR use MAP function

In [7]:
map(mult_five,my_seq)   ## this shows that map is now available at the address. To see the values, pass the map to a list

In [9]:
list(map(mult_five,my_seq))  ## this shows that each element of list my_seq is multiplied by 5

[5, 10, 15, 20, 25]

In [10]:
## Map makes it easy to iterate over a list

## LAMBDA function --

In [28]:
##  it is similar to function def, just we remove all that we don't need.
## They make performing tasks easier and remove need to define functions explicitly

In [23]:
## def mult_five(num):return num*5 --> remove all except what you want to pass and what you want to return out. 
## lambda num:num*5

In [24]:
lambda num:num*5  ## this tell that it is a Lambda expression

In [25]:
t = lambda num:num*5

In [26]:
t(8)  ## you can see the result is 8 multiply by 5 = 40

40

In [29]:
my_seq = [1,2,3,4,5]

In [27]:
list(map(lambda num:num*5,my_seq))   ## the earlier map function can be converted to lambda like this

[5, 10, 15, 20, 25]

## Filter function

In [31]:
## filter elements out of a sequence, returns elements which meet the condition

In [32]:
new_seq = [12,45,56,78,120,87]

In [36]:
filter(lambda num: num%2==0,new_seq)   ## filter is available at the address.

In [35]:
list(filter(lambda num: num%2==0,new_seq))  ## this now returns only the even numbers from the given sequence.

[12, 56, 78, 120]

## Some useful methods

In [52]:
## STRINGS

In [45]:
st = 'Python is tough but fun to learn # py_learn'

In [46]:
st.lower()    ### type st.and press tab.. it opens all the possible methods for strings

'python is tough but fun to learn # py_learn'

In [47]:
st.upper()

'PYTHON IS TOUGH BUT FUN TO LEARN # PY_LEARN'

In [48]:
st.split()  ## splits the sentence from spaces, useful for text analysis

['Python', 'is', 'tough', 'but', 'fun', 'to', 'learn', '#', 'py_learn']

In [50]:
st.split('#')  ## as you can see that now it has split only from character you asked from

['Python is tough but fun to learn ', ' py_learn']

In [51]:
st.split('#')[1]  ## we get the hashtag value.. very good to perform such actions on tweets etc

' py_learn'

In [53]:
## DICTIONARY

In [55]:
dict = {'city1': 'Jaipur', 'city2': 'Delhi', 'city3': 'Noida'}

In [56]:
dict

{'city1': 'Jaipur', 'city2': 'Delhi', 'city3': 'Noida'}

In [57]:
dict.keys

In [59]:
dict.keys()  ## shows the keys of the dictionary

dict_keys(['city1', 'city2', 'city3'])

In [60]:
dict.items()

dict_items([('city1', 'Jaipur'), ('city2', 'Delhi'), ('city3', 'Noida')])

In [61]:
dict.values()

dict_values(['Jaipur', 'Delhi', 'Noida'])

In [62]:
## LIST

In [68]:
new_seq1 = [12,45,56,78,120,87]

In [69]:
new_seq1.pop()  ## this pops the last element from the list and this is permanent

87

In [70]:
new_seq1

[12, 45, 56, 78, 120]

In [71]:
## we can even pop specific element by specifying the index number

In [72]:
list = new_seq1.pop(2)

In [73]:
new_seq1

[12, 45, 78, 120]

In [76]:
list ## you can now see that list new_seq1 has only 4 elements and element at index 2 which is 56 is now in list

56

In [77]:
new_seq1.append(99)

In [78]:
new_seq1

[12, 45, 78, 120, 99]

In [79]:
## tuple unpacking

In [80]:
x = [(1,2),(3,4),(5,6),(7,8)] ## list of tuples

In [81]:
x

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [82]:
  for a in x:
      print(a)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [83]:
## to find particular object from tuple

In [87]:
  for a,b in x:
      print(b)

2
4
6
8