Pandas is an open source library built on top of numpy. It allows  for fast analysis  and data cleaning and preparation. It also has built-in visualization features.

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Requirement already satisfied: numpy>=1.26.0 in /home/dbais/.local/lib/python3.13/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.13/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3.13/site-packages (from pandas) (2025.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 6.8 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
import numpy as np

Series - similar to numpy array except series can have axis labels.

In [18]:
labels = ['a','b','c']
mydata = [10,20,30]
arr = np.array(mydata)
d1 = {'a': '10','b': '20','c': '30'}

In [5]:
labels

['a', 'b', 'c']

In [9]:
d1

{'a': '10', 'b': '20', 'c': '30'}

In [13]:
pd.Series(data=mydata)    ## you can see it looks like a numpy array, here we have index also

0    10
1    20
2    30
dtype: int64

In [14]:
## with pandas series, we can specify what you want the index to be, for ex

In [19]:
pd.Series(data=mydata, index = labels)

a    10
b    20
c    30
dtype: int64

In [16]:
## you can pass a numpy array to a series

In [20]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [21]:
## we can also use dictionary to create a series. pandas automatically takes the key of the dictionary as index.

In [22]:
pd.Series(d1)

a    10
b    20
c    30
dtype: object

In [23]:
 ## creating two series now

In [31]:
ser1 = pd.Series([1,2,3,4],['Delhi','Jaipur','Hyderabad','Noida'])

In [32]:
ser1

Delhi        1
Jaipur       2
Hyderabad    3
Noida        4
dtype: int64

In [33]:
ser2 = pd.Series([1,2,5,4],['Delhi','Jaipur','Vizag','Noida'])

In [34]:
ser2

Delhi     1
Jaipur    2
Vizag     5
Noida     4
dtype: int64

In [ ]:
## Now if we try to add ser1 and ser2

In [36]:
ser1 + ser2   ## you will find where it doesn't have match, it pull null. Also pandas wil convert int to float.

Delhi        2.0
Hyderabad    NaN
Jaipur       4.0
Noida        8.0
Vizag        NaN
dtype: float64

## Dataframes

In [38]:
from numpy.random import randn

In [39]:
np.random.seed(101)

In [40]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [41]:
df    ## this looks a excel sheet

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [42]:
## Each of the column is actually a panda series, so W is one series and so is X, Y and Z

In [47]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [51]:
type(df['W'])     ##here you can see dataframe is nothing but bunch of series

pandas.core.series.Series

In [50]:
type(df)  ### output shows that this is a dataframe

pandas.core.frame.DataFrame

In [ ]:
## If you need multiple columns, you need to pass a list of columns

In [53]:
df[['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [54]:
## We can add new column to the dataframe

In [55]:
df['more'] = df['W'] + df['Y']

In [57]:
df  ## you can see that new column 'more' is added now to the dataframe

          W         X         Y         Z      more
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [58]:
## to drop a column

In [60]:
df.drop('more')   ## you get error <['more'] not found in axis"> ( Press shift + tab for df.drop and check default axis)

KeyError: "['more'] not found in axis"

In [62]:
df.drop('more',axis=1)  ## now the column is dropped

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [63]:
## now if we do df, we find that column 'more' still exists in the dataframe. To actually remove it, we have to
## specify inplace=true. Pandas does this to avoid losing data accidentally.

In [65]:
df.drop('more',axis=1,inplace=True)

In [66]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
## Similarily we can drop rows also

In [67]:
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [69]:
df  ## since we have not put inplace=True, row E is still in dataframe

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [75]:
## Similar to columns, we can also get rows, two ways of doing it location based or numerical index  based

In [73]:
df.loc['B']  ### now you can see that rows are also series.. funny, isn't it..

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

In [74]:
df.iloc[1]  ## index of 'B' is 1

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

In [76]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [77]:
## to find a subset of dataframe, we can use similar to numpy

In [79]:
df.loc['C','Y']   ## you get what is in Row C and undr column Y

np.float64(0.5288134940893595)

In [ ]:
## For mutiple rows and columns

In [80]:
df.loc[['B','C'],['W','Z']]

          W         Z
B  0.651118  0.605965
C -2.018168 -0.589001